<!-- Footer -->
<footer class="page-footer font-small morpheus-den-gradient pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">VoizFonica</h6>
          <p>We provide services that changes all of our lives.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a routerLink="/prepaid">Prepaid</a>
          </p>
          <p>
            <a routerLink="/postpaid">Postpaid</a>
          </p>
          <p>
            <a routerLink="/broadband">Broadband</a>
          </p>
          <p>
            <a href="/">Others</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a routerLink="/login">Your Account</a>
          </p>
          <p>
            <a routerLink="/recharge">Quick recharge</a>
          </p>
          <p>
            <a routerLink="/shop">Best Offers</a>
          </p>
          <p>
            <a routerLink="/customersupport">Help</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> <a routerLink="/customersupport"> Customer support </a>
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon><a routerLink="/customersupport">info@voizfonica.com</a> 
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><a routerLink="/"> 1800 1100 100 200</a>
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><a routerLink="/"> 1800 1100 100 300</a>
          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2019 Copyright
            <a href="/">
              <strong> VoizFonica</strong>
            </a>
            || Made with <mdb-icon fas class="red-text" aria-hidden="true" size="1x" icon="heart"></mdb-icon>&nbsp;&amp;&nbsp;<mdb-icon fab class="text-white" aria-hidden="true" size="1x" icon="angular"></mdb-icon>&nbsp;from <b class="red-text bold">Prodapt.</b>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a floating="true" size="sm" class="fb-ic rgba-white-slight mx-1 floating" mdbWavesEffect>
                  <mdb-icon fab size="2x" icon="facebook" class="floating"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a floating="true" size="sm" class="tw-ic rgba-white-slight mx-1 floating" mdbWavesEffect>
                  <mdb-icon fab size="2x" icon="twitter"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a floating="true" size="sm" class="gplus-ic rgba-white-slight mx-1 floating" mdbWavesEffect>
                  <mdb-icon fab size="2x" icon="google-plus"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a floating="true" size="sm" class="li-ic rgba-white-slight mx-1 floating" mdbWavesEffect>
                  <mdb-icon fab size="2x" icon="linkedin"></mdb-icon>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>