
  <div class="row footer">
    <div class="col-md-12 mx-auto text-center">
      <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright
          <a routerLink="/"> <b>VoizFonica</b></a>
          || Made with <mdb-icon fas class="red-text" aria-hidden="true" size="1x" icon="heart"></mdb-icon>&nbsp;&amp;&nbsp;<mdb-icon fab class="text-white" aria-hidden="true" size="1x" icon="angular"></mdb-icon>&nbsp;from <b class="red-text">Prodapt.</b>
        </div>
      </footer>
    </div>
  </div>