
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient text-white" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand text-white" href="/"><img class="img" style="height: 32px;" src="assets/images/icon.svg">&nbsp; <strong>VoizFonica</strong></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light active" routerLink="/" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/shop" mdbWavesEffect><mdb-icon fas icon="shopping-bag"></mdb-icon> Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/login" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon> My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/signup" mdbWavesEffect><mdb-icon fas icon="sign-in-alt"></mdb-icon> Signup</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link waves-light" routerLink="/customersupport" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Customer Support</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" mdbDropdown dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>Location<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary text-white" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Chennai</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mumbai</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Bangalore</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->