<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <a routerLink="/"><img class="d-block w-100" style="height: 400px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"></a>
  </mdb-carousel-item>
  <mdb-carousel-item>
     <a routerLink="/"><img class="d-block w-100" style="height: 400px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"></a>
  </mdb-carousel-item>
  <mdb-carousel-item>
     <a routerLink="/"><img class="d-block w-100" style="height: 400px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide"></a>
  </mdb-carousel-item>
</mdb-carousel>
<div class="section">
<!-- Material column sizing form -->
<div class="col-lg-6 text-center ">
<form >
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="md-form md-outline">
  <input mdbInput mdbValidate name="email" type="email" id="form8" class="form-control" [(ngModel)]="email" #input="ngModel" required pattern="[^ @]*@[^ @]*">
  <label for="form2">Email validator</label>
  <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
  <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success>
</div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2">
      <!-- Material input -->
      <div class="md-form">
        <input mdbInput type="submit" class="form-control btn blue" value="Pay bill" >
      </div>
    </div>
  </div>
    <!-- Grid column -->
  <!-- Grid row -->
</form>
</div> 
<!-- Material column sizing form -->
</div>